 .landing {
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 138, 0.796);
    color: white;
    margin-top: 0;
    height: 80px;
}

.navbar p {
    margin-top: 0;
    padding-top: 15px;
    font-size: 30px;
}

.alter-buttons {
    display: flex;
    justify-content: center;
    font-weight: 500;
    height: 200px;
}
/* .acordeon {
    width: 900px;
    justify-content: center;
    margin-left: 20%;
    margin-top: 20px;
} */


.btns {
    margin: 50px;

}

.btn-selected {
    margin: 100px;
    opacity: 0%;
}

.img {
    width: 100px;
}

.img2 {
    width: 115px;
}

.img:hover {
    transition: width 0.2s;
    width: 105px;
}

.img2:hover {
    transition: width 0.2s;
    width: 120px;
}

.img-arrow {
    width: 20px;
}

.carrousel {
    justify-content: center;
     display: flex; 
}