

.cardDetail {
    border: 1px solid grey;
    border-radius: 10px;
    width: 80%;
    margin: 10%;
    /* background-color: rgba(48, 48, 245, 0.679); */
    border: 2px solid grey;
    
}

.titleCard {
    margin-top: 10%;
    margin-right: 15%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 20px;
    font-weight: 300;
    width: 20%;
    float: right;
    padding: 20px;
}

.btn-reserv {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: 20px;
}